* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 174, 174);
}

.controls {
    display: flex;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(204, 229, 241);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin 20px 0;
    padding-top: 10px;
}

#repostaTitulo, #repostaArtista {
    border: 1px solid;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.startbtn-class, .listenbtn-class {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

#submitbtn, #nextbtn {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

h1 {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


#instructionsText {
    font-weight: bold;
    margin: 10px;
}

.hide {
    display: none;
}

#playbtn {
    width: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#listenbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jogardenovo {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

#descr {
    font-weight: bold;
    padding-top: 5px;
    margin: auto;
    font-size: 1.2em;
}

.points-rodadas {
    font-weight: bold;
    display: flex;
    font-size: 1.2em;
}

#pontoserodadas {
    margin-right: 10px;
}

#errou-tudo {
    margin: 0px 0px 0px auto;
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

#acertou-uma {
    margin: 0px 0px 0px auto;
    font-size: 1.2em;
    font-weight: bold;
}

#acertou-ambas {
    margin: 0px 0px 0px auto;
    color: green;
    font-size: 1.2em;
    font-weight: bold;
}

#fimtxt {
    font-weight: bold;
    padding-top: 5px;
    margin: auto;
    font-size: 1.2em;
}
